<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>dojot</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
  </head>
  <body>
    <div id="app">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-light p-4">
            <h4>Run a New Test!</h4>
            <span class="text-muted">Fill in the data for the new test</span>
            <form class="form-inline col-10">
              <div class="form-group mb-2">
                <label for="server" class="sr-only">Server</label>
                <input
                  type="text"
                  class="form-control"
                  name="server"
                  id="server"
                  placeholder="Server"
                  v-bind:value="form.server"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <label for="username" class="sr-only">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="Username"
                  v-bind:value="form.username"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <label for="password" class="sr-only">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Password"
                  v-bind:value="form.password"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <label for="tenant" class="sr-only">Tenant</label>
                <input
                  type="text"
                  class="form-control"
                  name="tenant"
                  id="tenant"
                  placeholder="Tenant"
                  v-bind:value="form.tenant"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <label for="device" class="sr-only">Device</label>
                <input
                  type="text"
                  class="form-control"
                  id="device"
                  name="device"
                  placeholder="Device"
                  v-bind:value="form.device"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <label for="messages" class="sr-only">Messages</label>
                <input
                  type="number"
                  class="form-control"
                  id="messages"
                  name="messages"
                  placeholder="Messages"
                  v-bind:value="form.messages"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <label for="per-second" class="sr-only">Per second</label>
                <input
                  type="number"
                  class="form-control"
                  id="per-second"
                  name="per-second"
                  placeholder="Per second"
                  v-bind:value="form.perSecond"
                  required
                />
              </div>
              <div class="form-group mb-2">
                <button
                  v-if="!running"
                  id="create-test-button"
                  type="button"
                  onclick="createTest();"
                  class="btn btn-secundary mb-2"
                >
                  Go!
                </button>
              </div>
              <div
                v-if="running"
                class="mb-2 ml-2 spinner-grow"
                style="width: 2rem; height: 2rem;"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </form>
          </div>
        </div>
        <nav class="navbar navbar-light bg-light">
          <button
            id="navbar-button"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="btn-group" role="group" aria-label="Options">
            <button
              type="button"
              onclick="selectDataSource('socket');"
              class="btn btn-light"
            >
              Socketio
            </button>
            <button
              type="button"
              onclick="selectDataSource('mosca');"
              class="btn btn-light"
            >
              Mosca
            </button>
            <button
              type="button"
              onclick="selectDataSource('mongo');"
              class="btn btn-light"
            >
              Mongo
            </button>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Files for Viewing
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                onclick="selectFile(this)"
                v-bind:name="file.name"
                class="dropdown-item"
                href="#"
                v-for="file in files"
              >
                {{ file.formattedName }}
              </a>
            </div>
          </div>
        </nav>
      </div>

      <div class="row w-100 mt-4">
        <div class="col-md-3 col-lg-2 offset-md-1">
          <div class="card text-white bg-primary mx-sm-1 p-3">
            <div class="text-white bg-primary">
              <span class="fa fa-eye"></span>
            </div>
            <div class="text-white text-center mt-3">
              <h6>Total sent</h6>
            </div>
            <div class="text-white text-center mt-2">
              <h3 v-if="!loading" id="sent-messages">{{ sent_messages }}</h3>
              <div v-if="loading" class="text-center">
                <div class="spinner-border mb-1" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="card text-white bg-info mx-sm-1 p-3">
            <div class="text-white bg-primary">
              <span class="fa fa-eye"></span>
            </div>
            <div class="text-white text-center mt-3">
              <h6>Total received</h6>
            </div>
            <div class="text-white text-center mt-2">
              <h3 v-if="!loading" id="received-messages">
                {{ received_messages }}
              </h3>
              <div v-if="loading" class="text-center">
                <div class="spinner-border mb-1" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="card text-white bg-success mx-sm-1 p-3">
            <div class="text-white bg-primary">
              <span class="fa fa-eye"></span>
            </div>
            <div class="text-white text-center mt-3"><h6>Out of order</h6></div>
            <div class="text-white text-center mt-2">
              <h3 v-if="!loading" id="out-of-order-messages">
                {{ out_of_order_messages }}
              </h3>
              <div v-if="loading" class="text-center">
                <div class="spinner-border mb-1" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="card text-white bg-warning mx-sm-1 p-3">
            <div class="text-white bg-primary">
              <span class="fa fa-eye"></span>
            </div>
            <div class="text-white text-center mt-3">
              <h6>Delay avarage</h6>
            </div>
            <div class="text-white text-center mt-2">
              <h3 v-if="!loading" id="delay">{{ delay_avarage }}</h3>
              <div v-if="loading" class="text-center">
                <div class="spinner-border mb-1" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="card text-white bg-danger mx-sm-1 p-3">
            <div class="text-white bg-danger">
              <span class="fa fa-eye"></span>
            </div>
            <div class="text-white text-center mt-3">
              <h6>Delay derivation</h6>
            </div>
            <div class="text-white text-center mt-2">
              <h3 v-if="!loading" id="derivation">{{ standard_derivation }}</h3>
              <div v-if="loading" class="text-center">
                <div class="spinner-border mb-1" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br /><br /><br />

      <div class="d-flex justify-content-center">
        <div class="col-md-9">
          <canvas id="delay-chart"></canvas>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"
      integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          files: [],
          device_ids: [],
          delays: [],
          sent_messages: "--",
          received_messages: "--",
          delay_avarage: "--",
          standard_derivation: "--",
          out_of_order_messages: "--",
          data_source: "socket",
          file_name: "",
          running: false,
          loading: false,
          form: {
            server: "10.202.21.64",
            username: "admin",
            password: "admin",
            tenant: "admin",
            device: "37f834",
            messages: "10",
            perSecond: "10"
          }
        },
        created: () => {
          fetch("/file")
            .then(response => {
              response.json().then(data => {
                app.files = data.files;
              });
            })
            .then(success => console.log("oi"))
            .catch(error => console.log(error));
          // getSavedFormData();  
        }
      });

      var ctx = document.getElementById("delay-chart").getContext("2d");
      var delayChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: app.device_ids,
          datasets: [
            {
              label: "Messages delay",
              data: app.delays,
              backgroundColor: "rgba(0, 123, 255, 1)",
              borderWidth: 1,
              pointRadius: 0
            }
          ]
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ]
          }
        }
      });

      const getSavedFormData = () =>{
        const server = document.getElementById("server");
        const username = document.getElementById("username");
        const password = document.getElementById("password");
        const tenant = document.getElementById("tenant");
        const device = document.getElementById("device");
        const messages = document.getElementById("messages");
        const perSecond = document.getElementById("per-second");
      }

      const createTest = () => {
        navButton = document.getElementById("navbar-button");
        testButton = document.getElementById("create-test-button");
        const server = document.getElementById("server");
        const username = document.getElementById("username");
        const password = document.getElementById("password");
        const tenant = document.getElementById("tenant");
        const device = document.getElementById("device");
        const messages = document.getElementById("messages");
        const perSecond = document.getElementById("per-second");

        if (validateFields()) {
          const formData = new FormData();
          formData.append("server", server.value);
          formData.append("username", username.value);
          formData.append("password", password.value);
          formData.append("tenant", tenant.value);
          formData.append("device", device.value);
          formData.append("messages", messages.value);
          formData.append("perSecond", perSecond.value);

          // saveFormData(formData);

          testButton.innerHTML = "Running...";
          app.running = true;
          clearFieldsValidations();

          fetch("/test", {
            method: "POST",
            body: formData
          })
            .then(response => {
              response.json().then(data => {
                app.files = data.files;

                navButton.click();
                setTimeout(() => {
                  testButton.innerHTML = "Go!";
                  app.running = false;

                  app.file_name = data.files[0].name;
                  updateResult();
                }, 900);
              });
            })
            .then(success => {
              setTimeout(() => {
                testButton.innerHTML = "Go!";
                app.running = false;
              }, 900);
              console.log(success);
            })
            .catch(error => {
              setTimeout(() => {
                testButton.innerHTML = "Go!";
                app.running = false;
              }, 900);
              console.log(error);
            });
        }
      };

      const saveFormData = formData => {
          let localStorage = window.localStorage;
          localStorage.setItem("server", formData.get("server"));
          localStorage.setItem("username", formData.get("username"));
          localStorage.setItem("password", formData.get("password"));
          localStorage.setItem("tenant", formData.get("tenant"));
          localStorage.setItem("device", formData.get("device"));
          localStorage.setItem("messages", formData.get("messages"));
          localStorage.setItem("perSecond", formData.get("perSecond"));
      }

      const validateFields = () => {
        let formValid = true;
        document.querySelectorAll("input[required]").forEach(e => {
          if (e.value == undefined || e.value == "") {
            formValid = false;
            e.classList.remove("is-valid");
            e.classList.add("is-invalid");
          } else {
            e.classList.remove("is-invalid");
            e.classList.add("is-valid");
          }
        });
        return formValid;
      };

      const clearFieldsValidations = () => {
        document.querySelectorAll("input[required]").forEach(e => {
          e.classList.remove("is-valid");
          e.classList.remove("is-invalid");
        });
      };

      const updateChart = chart => {
        chart.data.labels = app.device_ids;

        chart.data.datasets.forEach(dataset => {
          dataset.data = app.delays;
        });
        chart.update();
      };

      const selectDataSource = dataSource => {
        app.data_source = dataSource;
        if (app.file_name) {
          updateResult();
        }
      };

      const selectFile = field => {
        app.file_name = field.getAttribute("name");
        updateResult();
      };

      const updateResult = () => {
        const formData = new FormData();
        formData.append("type", app.data_source);
        formData.append("fileName", app.file_name);

        app.loading = true;

        fetch(`/${app.data_source}_result`, {
          method: "POST",
          body: formData
        })
          .then(response => {
            response.json().then(data => {
              app.device_ids = data.device_ids;
              app.delays = data.delays;
              app.delay_avarage = data.delay_avarage;
              app.standard_derivation = data.standard_derivation;
              app.out_of_order_messages = data.out_of_order_messages;
              app.sent_messages = data.total_sent_messages;
              app.received_messages = data.total_received_messages;
              updateChart(delayChart);
              setTimeout(() => {
                app.loading = false;
              }, 300);
            });
          })
          .then(success => console.log(success))
          .catch(error => console.log(error));
      };
    </script>
  </body>
</html>
